<h2>Primeira aula de **Python** </h2>na disciplina de Pesquisa e Ordenação com o professor Mirkos - mirkos@ufn.edu.br

In [10]:
nome = input ('Digite o seu nome: ')
tamanho = len(nome) #len é uma função que define o tamanho dos dados
print ('O nome digitado é:', nome, 'com', tamanho, 'caracteres')

Digite o seu nome: Lucas
O nome digitado é: Lucas com 5 caracteres

In [9]:
anoNasc = input('Digite o ano do seu nascimento: ')
anoNasc = int(anoNasc) #converte string para int
idade = 2022 - anoNasc

print('A idade de',nome,'é:', idade)

Digite o ano do seu nascimento: 1998
A idade de Lucas  é: 24

In [ ]:
#Calculando IMC
#IMC = peso/altura^2 ~ peso/(altura*altura)

peso = float(input('Digite o seu peso: ').replace(',', '.'))
altura = float(input('Digite a sua altura: ').replace(',', '.'))
imc = peso/(altura*altura)
print(imc)

In [50]:
#Vetores em Python são chamados de Listas
nomesAlunos = ['Lucas', 'Pedro', 'Carlos', 'leonardo','Mirkos','gabriel', 'matheus']
print (nomesAlunos)

['Lucas', 'Pedro', 'Carlos', 'leonardo', 'Mirkos', 'gabriel', 'matheus']

In [52]:
#Laço de repetição
indice=0
for aluno in nomesAlunos:
  nomesAlunos[indice] = aluno.title()
  print(indice,nomesAlunos[indice],len(aluno))
  indice+=1

0 Lucas 5
1 Pedro 5
2 Carlos 6
3 Leonardo 8
4 Mirkos 6
5 Gabriel 7
6 Matheus 7

In [53]:
tam=len(nomesAlunos)-1
aux=0
aux2=0
while aux2 < tam:
  while aux < tam:
    if nomesAlunos[aux]>nomesAlunos[aux+1]:
      #troca
      print('Trocando:', nomesAlunos[aux], nomesAlunos[aux+1])
      auxiliar = nomesAlunos[aux+1]
      nomesAlunos[aux+1]=nomesAlunos[aux]
      nomesAlunos[aux] = auxiliar
    aux+=1
  aux=0
  aux2+=1
print(nomesAlunos)

Trocando: Pedro Carlos
Trocando: Pedro Leonardo
Trocando: Pedro Mirkos
Trocando: Pedro Gabriel
Trocando: Pedro Matheus
Trocando: Lucas Carlos
Trocando: Lucas Leonardo
Trocando: Mirkos Gabriel
Trocando: Mirkos Matheus
Trocando: Lucas Gabriel
Trocando: Leonardo Gabriel
['Carlos', 'Gabriel', 'Leonardo', 'Lucas', 'Matheus', 'Mirkos', 'Pedro']